[Unit]
Description=Synchronize calendars and contacts periodically
Documentation=https://vdirsyncer.pimutils.org

[Timer]
# First sync 2 minutes after login, then every 15 minutes
OnBootSec=2min
OnUnitActiveSec=15min

[Install]
WantedBy=timers.target
