# Git configuration
# Edit user.name and user.email before first use!

[user]
    name = Sanchit
    email = sanchit.srivastava@uwaterloo.ca

[init]
    defaultBranch = main

[push]
    default = current
    autoSetupRemote = true

[pull]
    rebase = true

[core]
    editor = nvim
    autocrlf = input
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[color]
    ui = true

[diff]
    algorithm = histogram
    colorMoved = default

[merge]
    conflictstyle = zdiff3

[rebase]
    autoStash = true
    autoSquash = true

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate --all
    unstage = reset HEAD --
    last = log -1 HEAD
    dft = "!f() { GIT_EXTERNAL_DIFF=difft git diff \"$@\"; }; f"
    dftl = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff \"$@\"; }; f"
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/env gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/env gh auth git-credential
